<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal{{include.id}}">
    See Code 
</button>

<!-- Modal -->
<div class="modal fade" id="modal{{include.id}}" tabindex="-1" role="dialog" aria-labelledby="modal{{include.id}}Label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modal{{include.id}}Label">{{ include.title }}</h4>
      </div>
      <div class="modal-body" markdown="1">
      
