<dom-module id="python-search">
<template>
<div>
<script>
  (function() {
    var cx = '008900886929183895405:ck7mo4unjdc';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
</div>
</template>

<script>
Polymer({
    is: 'python-search',
    // See below for lifecycle callbacks
    ready: function() {
    },
});
</script>
</dom-module>





